* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background-color: #e3e6e6;
    height: 170vh;

}

.carousel-control-prev, .carousel-control-next{
    display: none;
}

.carousel-mobile {
    display: none;
}

.carouselCard-Section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 10px;
    padding: 2em;
    position: relative;
    top: -300px;
}

#CarouselCard_9 {
    display: none;
}

.carouselCard {
    background-color: #fff;
    width: 300px;
    height: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.carouselCard>span {
    font-weight: 600;
    font-size: 1.2em;
    margin: 15px 0px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.itemCard {
    text-align: center;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
}

.seemore {
    text-decoration: none;
    color: #007185;
}

.Mobile-cards {
    display: none;
}

.delivery {
    display: none;
}

.advertisement {
    display: none;
}
.advertisementSection{
    display: none;
}

@media screen and (min-width:1000px) and (max-width:1199px){
    .carouselCard-Section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 15px 5px;
        padding: 2em;
        position: relative;
        top: -200px;
    }
    #CarouselCard_9{
        display: grid;
    }
}

@media screen and (min-width:801px) and (max-width:999px) {
    
}
@media screen and (min-width:701px) and (max-width:800px) {
    #CarouselCard_4,#CarouselCard_5, #CarouselCard_6,#CarouselCard_7,#CarouselCard_8{
        display: none;
    }
    .carouselCard{
        width: 30vw;
    }
    .carouselCard-Section{
        position: relative;
        top: -150px;
    }
    .advertisementSection{
        background-color: #fff;
        padding: 1em;
        display: flex;
        flex-direction: column;
        position: relative;
        top: -100px;
    }
    .advertisementSection>span{
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        padding: 0.5em;
    }
    .additems{
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow: scroll;
    }

    .posters{
        width: 40vw;
    }


}

@media screen and (min-width:501px) and (max-width:700px) {
    .carousel-mobile{
        display: block;
    }
    .carousel-desktop{
        display: none;
    }
    .carouselCard-Section{
        display: none;
    }

    .Mobile-cards {
        display: flex;
    }
    
    .delivery {
        display: flex;
    }
    
    .advertisement {
        display: flex;
    }

    .mobile {
        position: relative;
        top: -100px;
        background-color: #e3e6e6;
    }

    .Mobile-cards {
        display: flex;
        gap: 1.5em;
        overflow-x: scroll;
        margin-bottom: 1.2em;
        padding: 1.2em;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .BuyzoneProduct {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .BuyzoneProductC3 {
        height: 50px;
        width: 50px;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
    }

    .mobilecard-container {
        background-color: #fff;
        box-shadow: #00000059 0px 5px 15px;
        /* border-radius: 10px; */
        width: 40%;
        height: 150px;
        padding: 0.5em;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }

    .itemcard-container {
        height: 150px;
        /* padding: 0.5em; */
        /* border: 2px solid #000*/
        box-shadow: 2px 2px 2px black;
        /* border-radius: 10px; */
        /* object-fit: fill;  */
    }
    .itemCards {
        width: 120px;
        height: 100%;
    }

    .delivery {
        display: block;
        height: 5vh;
        width: 95vw;
        margin: 20px auto;
    }

    .deliveryimage {
        height: 100%;
        width: 100%;
    }

    .advertisement {
        display: block;
        width: 90vw;
        margin: 20px auto;
    }

    .buyzoneprimeimg {
        width: 100%;
    }
}

@media screen and (max-width:350px) {
    .mobilecard-container {
        display: grid;
        place-items: center;
    }

    .BuyzoneProduct {
        height: 40px;
        width: 40px;
        border-radius: 50%;

    }

    .BuyzoneProductC3 {
        height: 40px;
        width: 40px;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
    }
}

@media screen and (max-width:500px) {
    .carousel-mobile {
        display: block;
    }

    .carousel-desktop {
        display: none;
    }

    .carouselCard-Section {
        display: none;
    }

    .mobile {
        position: relative;
        top: -100px;
        background-color: #e3e6e6;
    }

    .Mobile-cards {
        display: flex;
        gap: 1.5em;
        overflow-x: scroll;
        margin-bottom: 1.2em;
        padding: 1.2em;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .BuyzoneProduct {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .BuyzoneProductC3 {
        height: 50px;
        width: 50px;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
    }

    .mobilecard-container {
        background-color: #fff;
        box-shadow: #00000059 0px 5px 15px;
        /* border-radius: 10px; */
        width: 40%;
        height: 150px;
        padding: 0.5em;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(2, 1fr);
    }

    .itemcard-container {
        height: 150px;
        /* padding: 0.5em; */
        /* border: 2px solid #000*/
        box-shadow: 2px 2px 2px black;
        /* border-radius: 10px; */
        /* object-fit: fill;  */
    }

    .item1 {
        background-image: url('./Images/Phone_Cards/Headsets.jpg');
    }

    .itemCards {
        width: 120px;
        height: 100%;
    }

    .delivery {
        display: block;
        height: 5vh;
        width: 95vw;
        margin: 20px auto;
    }

    .deliveryimage {
        height: 100%;
        width: 100%;
    }

    .advertisement {
        display: block;
        width: 90vw;
        margin: 20px auto;
    }

    .buyzoneprimeimg {
        width: 100%;
    }
}

@media screen and (max-width:350px) {
    .mobilecard-container {
        display: grid;
        place-items: center;
    }

    .BuyzoneProduct {
        height: 40px;
        width: 40px;
        border-radius: 50%;

    }

    .BuyzoneProductC3 {
        height: 40px;
        width: 40px;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
    }
}