.hSections{
    background-color: #e3e6e6;
    margin-top: -1.8em;
    padding-top: 1.2em;
    padding-bottom:1.2em;
}
.items {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: fit-content;
    padding: 15px;
    border-radius: 20px;
    margin-top: 1.4em;
    margin: 1.4em;
    box-shadow: #00000059 0px 5px 15px;

}
.items > span {
    font-weight: 700;
    font-size: 1.5em;
}

.caImages {
    display: flex;
    align-items: center;
    overflow: scroll;
    gap: 20px;
    scrollbar-width: none;
}
.caImages::-webkit-scrollbar{
    display: none;
}
.caImages > div {
    min-width: 200px;
    height: 200px;
    flex-shrink: 0;
}

.itemsImages{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
/* .caImages:hover{
animation: scrollLeft 20s ease-out;
}

@keyframes scrollLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
} */

@media screen and (min-width:1000px) and (max-width:1199px){
    .hSections{
        margin-top: 15vh;
    }
    }
    @media  screen and (min-width:701px) and (max-width:800px) {
        .hSections{
            margin-top: -70%;
        }
        .itemsImages{
            width: 170px;
            height: 170px;
            object-fit: contain;
        }
        .items > span {
            font-weight: 600;
            font-size: 1em;
            text-align: center;
        }
    }

@media  screen and (min-width:601px) and (max-width:700px) {
    .hSections{
        margin-top: -20%;
    }
}
@media  screen and (min-width:501px) and (max-width:600px) {
    .hSections{
        margin-top: -40%;
    }
}

@media screen and (max-width:500px) {
    .hSections{
        margin-top: -58vh;
    }
    .items{
        height: fit-content;
        gap: 0.5em;
    }
    .caImages{
        padding: 10px;
    }
    .items > span {
        font-weight: 600;
        font-size: 1.2em;
        text-align: center;
    }
    .itemsImages{
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
}

@media screen and (max-width:350px) {
        .hSections{
            margin-top: -79vh;
        }
}
